<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  <h1>
    <%= header %>
  </h1>
  <form action="/submit" method="POST">
    <input type="text" name="inputtedRecipe" placeholder="Insert recipe">
    <input type="submit" value="OK">
  </form>
</body>

</html>